@font-face {
	font-family: 'solutronika';
	src:url('../fonts/fonts/solutronika.eot?3w7f1c');
	src:url('../fonts/fonts/solutronika.eot?#iefix3w7f1c') format('embedded-opentype'),
		url('../fonts/fonts/solutronika.woff?3w7f1c') format('woff'),
		url('../fonts/fonts/solutronika.ttf?3w7f1c') format('truetype'),
		url('../fonts/fonts/solutronika.svg?3w7f1c#solutronika') format('svg');
	font-weight: normal;
	font-style: normal;
}